* {
    font-family: 'Arvo', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    /* color: white; */
    /* display: block; */
    /* transition: 0.5s; */
}

body {
    background: #8A2B95;
    margin: 0;
    overflow: overlay;
}

nav {
    width: 90%;
    margin: auto;
    font-size: 17px;
    background-color: #111111;
    margin-top: 15px;
    border-radius: 5px;
    box-shadow: 8px 8px 35px 0px rgb(0 0 0 / 75%);
    display: flex;
}

nav>ul {
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-top: 0;
    align-items: center;
    width: fit-content;
}

nav>ul>li {
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px;
    transition: 0.3s;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: block;
}

.nav-item {
    color: white;
    /* display: inline-block;
    position: relative;
    transition: 0.1s all; */
}

nav>ul>li:hover {
    cursor: pointer;
    border-radius: 5px;
    background-color: #F5F5F5;
    transform: rotate(-6deg) skewY(3deg) scaleX(.866025);
}

nav>ul>li:hover>.nav-item {
    color: black
}


/* 
nav>ul>li:active>.nav-item {
    transform: scale(1.3) !important;
} */


/* ----------------SEARCHBOX--------------- */

.search {
    display: flex;
    width: fit-content;
    /* max-width: 100%; */
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0px;
    background-color: white;
    border-radius: 5px;
    margin: auto;
    margin-right: 10px;
}

.search-lens {
    height: 190%;
    width: 20%;
    border-right: 1px solid #696969;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-lens>a>img {
    color: black;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    max-width: 1.5rem;
    margin-top: 2px;
}


/* .search-lens>a {
    transition: 0.1s all;
} */

.search-lens:hover {
    cursor: pointer;
}

.search-lens:active>a {
    transform: scale(1.1);
}

.searchbox {
    margin-left: 5px;
    max-width: 100%;
    border-radius: 4px;
}

.searchbox>input {
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.searchbox>input::placeholder {
    user-select: none;
}


/* ---------------- MOBILE SEARCHBOX ------------ */

.search-mobile {
    display: none;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 10px 0px;
    margin: 10px 5px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
}

.searchbox-mobile {
    margin-left: 5px;
    max-width: 100%;
    border-radius: 4px;
}

.searchbox-mobile>input {
    width: 100%;
    height: 20px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.searchbox-mobile>input::placeholder {
    user-select: none;
}


/* ---------------MOBILE NAVBAR----------- */

.mobile-nav {
    font-size: 17px;
    background-color: #111111;
    height: 4rem;
    display: none;
    align-items: center;
}

.mobile-nav .bar {
    width: 25px;
    height: 3px;
    background-color: #3f3f3f;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.mobile-btn {
    display: none;
    left: 0%;
    width: 50px;
    padding: 0.5rem;
}

.mobile-btn:hover {
    cursor: pointer;
}

#mobile-nav.is-active .bar:nth-child(2) {
    opacity: 0;
}

#mobile-nav.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

#mobile-nav.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

@-webkit-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes gradbar {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}


/* -------------------- RESPONSIVE ------------------- */

@media (max-width: 670px) {
    .primary-nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        inset: 0 0 0 30%;
        height: 100%;
        background: hsl(0, 0%, 0%, 0.75);
        z-index: 1000;
        transition: .3s all;
        transform: translateX(100%);
    }
    .primary-nav[data-visible="true"] {
        transform: translateX(0%);
    }
    body {
        background: #2b4795;
    }
    nav>ul {
        flex-direction: column;
        padding: min(30vh, 8rem) 2em;
    }
    nav>ul>li {
        font-size: 2rem;
    }
    .bar {
        display: block;
        cursor: pointer;
    }
    .mobile-nav {
        z-index: 9999;
        transform: translate(0%) !important;
        display: flex;
    }
    .mobile-nav-backgorund {
        background: #111111;
        z-index: 9999;
        transform: translate(0%) !important;
        display: flex;
        justify-content: space-between;
    }
    /* .nav-logo{
        height: 50px;
        width: 50px;
    } */
    .search {
        display: none;
    }
    .search-mobile {
        display: flex;
    }
    .search-mobile>input {
        height: 2rem;
        font-size: 1.3rem;
    }
    .search-lens {
        height: fit-content;
    }
    .mobile-btn {
        display: block;
    }
}